﻿@model FakirCms.WebUI.Areas.Admin.Models.PageCreateModel
@{
    ViewBag.Title = "Sayfa Yarat";
}


@section Css{
    <style type="text/css">
        #CustomCss, #CustomJs {
            height: 200px;
            
            position: absolute;
        }
    </style>
}

@section Scripts{
    <script src="~/Areas/Admin/Scripts/pages/PageCreateView.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-css.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    // Hook up ACE editor to all textareas with data-editor attribute
    $(function () {
        $('textarea[data-editor]').each(function () {
            var textarea = $(this);
            var mode = textarea.data('editor');
            var editDiv = $('<div>', {
                position: 'absolute',
                width: '100%',
                height: textarea.height(),
                'class': textarea.attr('class')
            }).insertBefore(textarea);
            textarea.css('visibility', 'hidden');
            var editor = ace.edit(editDiv[0]);
            editor.renderer.setShowGutter(true);
            editor.getSession().setValue(textarea.val());
            editor.getSession().setMode("ace/mode/" + mode);
           

            // copy back to textarea on form submit...
            textarea.closest('form').submit(function () {
                textarea.val(editor.getSession().getValue());
            })
        });
    });
</script>

    <script type="text/javascript">
        $(function () {
            
            $("#pagecreateview").PageCreateView();
        });
    </script>
}

@if (TempData["success"] != null)
{
    <p>@TempData["success"]</p>
}

@if (TempData["error"] != null)
{
    <p>@TempData["error"]</p>
}


<div id="pagecreateview">
    @using (Html.BeginForm("Create", "Page", FormMethod.Post, new { @class = "role", @id = "AdminForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(x => x.Id)
        <div class="row">
            <div class="col-md-9">
                <!-- Custom Nav Tabs Start-->
                <div class="nav-tabs-custom">
                    <div class="box box-solid">
                        <div class="box-header">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Sayfa</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab">Sayfa İçerik</a></li>
                                <li class=""><a href="#tab_3" data-toggle="tab">Css&Javascript</a></li>
                            </ul>
                        </div>
                        <!--Box Body Start-->
                        <div class="box-body">

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Alias, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @placaholder = "Haber başlığından oluşturulacak" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.IsActive, "false") Aktif
                                                        @Html.RadioButtonFor(model => model.IsActive, "true") Aktif Değil
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MetaDescription, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.MetaKeywords, new { @class = "form-control",@data_role="tagsinput" })
                                            </div>
                                        </div>
                                    </div>
                                       
                                </div>
                                <!-- Tab 1 End-->
                                <!-- Tab 2 Start-->
                                <div class="tab-pane" id="tab_2">
                                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                                </div>
                                <!-- Tab 2 End-->
                                <!-- Tab3 Start-->
                                <div id="tab_3" class="tab-pane">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomCss, new { @class = "control-label" })
                                        @Html.TextAreaFor(m => m.CustomCss, new { @class = "form-control",@data_editor="css"})
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CustomJs, new { @class = "control-label" })
                                        @Html.TextAreaFor(m => m.CustomJs, new { @class = "form-control",@rows="5",@data_editor="javascript"})

                                    </div>
                                </div>
                            </div>
                            <!-- Tab panes  End-->
                        </div>
                        <!-- Box Body End-->
                        <!--Box Footer Start-->
                        <div class="box-footer">
                            <div class="form-group">

                                <input type="submit" value="Kaydet" class="btn btn-default" />
                                @Html.ActionLink("İptal", "Index")

                            </div>
                        </div>
                        <!-- Box Footer End-->
                    </div>
                    <!--Box Body End-->
                </div>
                <!-- Custom Nav Tabs End-->
            </div>
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Sayfa Bilgisi</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div><!-- /.box-tools -->
                    </div>
                    <div class="box-body" style="font-size:13px">
                        <div class="row">
                            @Html.Label("Kayıt Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Created.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Oluşturan:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.CreatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncellenme Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Updated.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncelleyen:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.UpdatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("İzlenim:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Hits
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Kimlik:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Id
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
