﻿@model FakirCms.Domain.Entities.Page
@{
    ViewBag.Title = Model.MetaTitle;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

@section Css{
    @if (!string.IsNullOrEmpty(Model.CustomCss)) { 
    <style type="text/css">
        @Model.CustomCss
    </style>
    }
   
}

@section Scripts{
    @if (!string.IsNullOrEmpty(Model.CustomJs)) { 
    <script type="text/javascript">
        @Html.Raw(Model.CustomJs)
    </script>
    }
}

@Html.Raw(Model.Content)