﻿@using Microsoft.AspNet.Identity
@using FakirCms.WebUI.Areas.Admin.HtmlHelpers
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title FakirCMS</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Site Favicon -->
    <link rel="icon" href="/Content/images/favicon.ico" type="image/x-icon" />
    
    <!-- bootstrap 3.0.2 -->
    @Styles.Render("~/content/bootstrap")
    <!-- font Awesome -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/ionicons.min.css")" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/morris/morris.css")" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/jvectormap/jquery-jvectormap-1.2.2.css")" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/datepicker/datepicker3.css")" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/css/datepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css" />
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="@Url.Content("~/Areas/Admin/Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css")" rel="stylesheet" type="text/css" />
    <!-- Select2-->
    @Styles.Render("~/admin/content/css/select2")
    <!--tag inputs -->
    @Styles.Render("~/admin/content/css/tagsinput")

    <!-- datatables -->
    @Styles.Render("~/admin/content/css/datatables")

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />


    <!-- Theme style -->
    @Styles.Render("~/admin/content/css/adminLTE")
    <!-- jQuery and jQuery UI (REQUIRED) -->

    <link href="~/Areas/Admin/Content/css/jQueryUI/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    @Styles.Render("~/admin/content/css/theme")
    <link href="~/Areas/Admin/Content/css/theme.css" rel="stylesheet" />
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout })
    @RenderSection("Css", false)

    @Scripts.Render("~/content/jquery")

    <!-- jQuery UI 1.10.3 -->
    @Scripts.Render("~/admin/scripts/jquery-ui")

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout })
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="skin-blue">
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <a href="index.html" class="logo">
            <!-- Add the class icon to your logo image or logo icon to add the margining -->
            AdminLTE
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 4 messages</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- start message -->
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                                            </div>
                                            <h4>
                                                Support Team
                                                <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li><!-- end message -->
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="img/avatar2.png" class="img-circle" alt="user image" />
                                            </div>
                                            <h4>
                                                AdminLTE Design Team
                                                <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="img/avatar.png" class="img-circle" alt="user image" />
                                            </div>
                                            <h4>
                                                Developers
                                                <small><i class="fa fa-clock-o"></i> Today</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="img/avatar2.png" class="img-circle" alt="user image" />
                                            </div>
                                            <h4>
                                                Sales Department
                                                <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="pull-left">
                                                <img src="img/avatar.png" class="img-circle" alt="user image" />
                                            </div>
                                            <h4>
                                                Reviewers
                                                <small><i class="fa fa-clock-o"></i> 2 days</small>
                                            </h4>
                                            <p>Why not buy a new awesome theme?</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">See All Messages</a></li>
                        </ul>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-people info"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users warning"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-cart success"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion ion-ios7-person danger"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>
                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 9 tasks</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Design some buttons
                                                <small class="pull-right">20%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">20% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Create a nice theme
                                                <small class="pull-right">40%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">40% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Some task I need to do
                                                <small class="pull-right">60%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">60% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Make beautiful transitions
                                                <small class="pull-right">80%</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only">80% Complete</span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                </ul>
                            </li>
                            <li class="footer">
                                <a href="#">View all tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>@HttpContext.Current.User.Identity.Name <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                                <p>
                                    Jane Doe - Web Developer
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="col-xs-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="left-side sidebar-offcanvas">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>Merhaba, @HttpContext.Current.User.Identity.Name</p>
                        <a href="@Url.Action("logout","account")"><i class="fa fa-circle text-success"></i> Aktif</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..." />
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                @Html.Partial("~/Areas/Admin/Views/Shared/_Menu.cshtml")

            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                @RenderSection("ContentHeader", false)

            </section>
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->
    <!-- add new calendar event modal -->
    <!-- jQuery 2.0.2 -->
    <!-- Bootstrap -->
    @Scripts.Render("~/scripts/bootstrap")

    <!-- Morris.js charts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/morris/morris.min.js")" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/sparkline/jquery.sparkline.min.js")" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/jqueryKnob/jquery.knob.js")" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="~/Areas/Admin/Scripts/plugins/datepicker/jquery.datetimepicker.js"></script>
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/datepicker/bootstrap-datepicker.js")"></script>
    <script src="~/Areas/Admin/Scripts/plugins/datepicker/locales/bootstrap-datepicker.tr.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="@Url.Content("~/Areas/Admin/Scripts/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js")" type="text/javascript"></script>
    <!-- bootbox dialog-->
     @Scripts.Render("~/admin/scripts/plugins/bootbox")
    <!--Select2-->
    @Scripts.Render("~/admin/scripts/plugins/select2")
    <!-- iCheck -->
    @*
        <script src="@Url.Content(" ~ />Areas/Admin/Scripts/plugins/iCheck/icheck.min.js")" type="text/javascript"></script>*@
    <!-- editable -->
    @Scripts.Render("~/admin/scripts/plugins/editable")
    <!-- DataTables And Extensions -->
    @Scripts.Render("~/admin/scripts/plugins/datatables")
    <!-- CkEditor-->
    <script type="text/javascript">CKEDITOR_BASEPATH = "@Url.Content("~/Areas/Admin/Scripts/plugins/ckeditor/")";</script>
    @Scripts.Render("~/admin/scripts/plugins/ckeditor")

    <!-- tagsinput-->
    @Scripts.Render("~/admin/scripts/plugins/tagsinput")
    <!-- Max Length -->
    @Scripts.Render("~/admin/scripts/plugins/maxlength")

    <script src="@Url.Content(" ~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <!-- AdminLTE App -->
    @Scripts.Render("~/Areas/Admin/Scripts/AdminLTE/app.js")

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @Scripts.Render("~/admin/scripts/adminLTE/dashboard")

    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/admin/scripts/adminLTE/demo")

    @RenderSection("Scripts", false)
</body>
</html>