﻿@{
    string action = this.ViewContext.RequestContext.RouteData.Values["action"].ToString();
    string controller = this.ViewContext.RequestContext.RouteData.Values["controller"].ToString();
}

<ul class="sidebar-menu">

    @{
        Boolean active = (action == "Index") && (controller == "Home");
    }
    <li @if (active) { ViewContext.Writer.Write("class='active'"); }>
        <a href="@Url.Action("Index","Home")">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>


    @{
        active = ((action == "Create") && (controller == "Page"))
            || ((action == "Index") && (controller == "Page"));
    }
    <li class="treeview @if (active) { ViewContext.Writer.Write(" active"); }">
        <a href="#">
            <i class="fa fa-edit"></i>
            <span>Sayfalar</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            @{
                active = (action == "Create") && (controller == "Page");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Create","Page")"><i class="fa fa-angle-double-right"></i> Yeni Sayfa</a></li>
            @{
                active = (action == "Index") && (controller == "Page");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Index","Page")"><i class="fa fa-angle-double-right"></i> Sayfalar</a></li>
            
        </ul>
    </li>


    @{
        active = ((action == "Create") && (controller == "Haber"))
            || ((action == "Index") && (controller == "Haber")) || ((action == "Index") && (controller == "HaberCategory"));
    }
    <li class="treeview @if (active) { ViewContext.Writer.Write(" active"); }">
        <a href="#">
            <i class="fa fa-edit"></i>
            <span>Haber</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            @{
                active = (action == "Create") && (controller == "Haber");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Create","Haber")"><i class="fa fa-angle-double-right"></i> Yeni Haber</a></li>
            @{
                active = (action == "Index") && (controller == "Haber");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Index","Haber")"><i class="fa fa-angle-double-right"></i> Haberler</a></li>
            @{
                active = (action == "Index") && (controller == "HaberCategory");
            }

            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Index","HaberCategory")"><i class="fa fa-angle-double-right"></i> Kategoriler</a></li>
        </ul>
    </li>

    @{
        active = ((action == "Create") && (controller == "Article"))
            || ((action == "Index") && (controller == "Article")) || ((action == "Index") && (controller == "Author"));
    }
    <li class="treeview @if (active) { ViewContext.Writer.Write(" active"); }">
        <a href="#">
            <i class="fa fa-edit"></i>
            <span>Köşe Yazısı</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            @{
                active = (action == "Create") && (controller == "Haber");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Create","Article")"><i class="fa fa-angle-double-right"></i> Yeni KöşeYazısı</a></li>
            @{
                active = (action == "Index") && (controller == "Article");
            }
            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Index","Article")"><i class="fa fa-angle-double-right"></i> Köşe Yazıları</a></li>
            @{
                active = (action == "Index") && (controller == "Author");
            }

            <li @if (active) { ViewContext.Writer.Write("class='active'"); }><a href="@Url.Action("Index","Author")"><i class="fa fa-angle-double-right"></i> Yazarlar</a></li>
        </ul>
    </li>

    @{
        active = (action == "Index") && (controller == "FileManager");
    }
    <li @if (active) { ViewContext.Writer.Write("class='active'"); }>
        <a href="@Url.Action("Index","FileManager")">
            <i class="fa fa-file"></i> <span>Dosya Yönetimi</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-angle-double-right"></i> General</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-angle-double-right"></i> Icons</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
            <li><a href="pages/UI/sliders.html"><i class="fa fa-angle-double-right"></i> Sliders</a></li>
            <li><a href="pages/UI/timeline.html"><i class="fa fa-angle-double-right"></i> Timeline</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-angle-double-right"></i> General Elements</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-angle-double-right"></i> Advanced Elements</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-angle-double-right"></i> Editors</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> Simple tables</a></li>
            <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> Data tables</a></li>
        </ul>
    </li>
    <li>
        <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <small class="badge pull-right bg-red">3</small>
        </a>
    </li>
    <li>
        <a href="pages/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <small class="badge pull-right bg-yellow">12</small>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-angle-double-right"></i> Invoice</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-angle-double-right"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-angle-double-right"></i> Register</a></li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-angle-double-right"></i> Lockscreen</a></li>
            <li><a href="pages/examples/404.html"><i class="fa fa-angle-double-right"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-angle-double-right"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-angle-double-right"></i> Blank Page</a></li>
        </ul>
    </li>
</ul>
