﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditorImageBrowser</title>
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout })
    
    @Scripts.Render("~/content/jquery")

    <!-- jQuery UI 1.10.3 -->
    @Scripts.Render("~/admin/scripts/jquery-ui")

    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout })

    <script type="text/javascript">
        // Helper function to get parameters from the query string.
        function getUrlParam(paramName) {
            var reParam = new RegExp('(?:[\?&]|&)' + paramName + '=([^&]+)', 'i');
            var match = window.location.search.match(reParam);

            return (match && match.length > 1) ? match[1] : null;
        }

        //when selected file in file manager, set ckeditor and close it
        function FileManagerSelectedFileOpened(s, e) {
            var funcNum = getUrlParam('CKEditorFuncNum');
            var fileUrl = "/"+e.file.GetFullName().replace(/[\\]/g, '\/');
            window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
            window.close();
        }

    </script>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.Action("FileManagerEditorPartial")
    }
</body>
</html>
