﻿@{
    ViewBag.Title = "Yazarlar";
}

@section ContentHeader{
    <h1>
        Yazar Yöneticisi
        <small>Yazarlar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Yazarlar</li>
    </ol>
}




<div id="habercategoryindexview">

    <div id="ShowResultDiv" style="display: block;">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @TempData["success"]
            </div>
        }

        @if (TempData["error"] != null)
        {
            <div class="alert alert-error">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                @TempData["error"]
            </div>
        }
    </div>

    @Html.AntiForgeryToken()
    <div class="box">
        <!-- Box Header Start -->
        <div class="box-header">
            <a class="toolbar" href="@Url.Action("Create","Author")">
                <i class="icon-32-new"></i>Yeni Yazar
            </a>
            <a class="toolbar taskEvent" href="" data-task="exit" data-ajax="false" data-checkcontrol="false" data-showresultinpopup="false">
                <i class="icon-32-cancel"></i>Çıkış
            </a>
        </div>
        <!-- Box Header End -->
        <!-- Box Body Start-->
        <div class="box-body">

            <table id="AdminTable" class="table table-striped table-bordered dataTable"></table>
        </div>
        <!-- Box Body End-->
        <!-- Box Footer Start-->
        <div class="box-footer clearfix">

        </div>
        <!-- Box Footer End -->
    </div>
</div>

@section Css{
    <link href="@Url.Content("~/Areas/Admin/Content/css/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
}

@section Scripts{
    <script src="~/Areas/Admin/Scripts/pages/AuthorIndexView.js"></script>
    <script type="text/javascript">
        $("#habercategoryindexview").AuthorIndexView({
            tableId: "AdminTable",
            controller: "Author"
        });
    </script>
}

