﻿
/* main menu*/
#site-main-menu {
    overflow-y: visible;
    display: block;
       padding:0px;
    margin-bottom:10px;
    max-width:1200px;
    color: white;
    font-size: 22px;
    border-style: solid;
    border-color: #dddddd;
    text-shadow: 1px 1px 0 #FFF;
    border-width: 1px 0;
    height: 36px;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fafafa, #f6f6f6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #fafafa, #f6f6f6);
    background-image: -o-linear-gradient(top, #fafafa, #f6f6f6);
    background-image: linear-gradient(to bottom, #fafafa, #f6f6f6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#fff6f6f6', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,.05);
}
#site-main-menu .container{
 
}

    #site-main-menu .navigationdiv {
        padding: 0 10px;
        margin-bottom: 20px;
        display: block;
    }

        #site-main-menu .navigationdiv #navigation {
            display: block;
            font-family: Helvetica;
        }
    #site-main-menu a {
        color: #484141;
        display: block;
        padding: 10px 12px 8px 15px;
        cursor: pointer;
    }

.slicknav_menu {
    display: none;
}

.slicknav_menu {

     color: white;
    font-size: 22px;
    background: #d3246a;
    background: -moz-linear-gradient(top, #d3246a 0%, #9b294a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3246a), color-stop(100%,#9b294a));
    background: -webkit-linear-gradient(top, #d3246a 0%,#9b294a 100%);
    background: -o-linear-gradient(top, #d3246a 0%,#9b294a 100%);
    background: -ms-linear-gradient(top, #d3246a 0%,#9b294a 100%);
    background: linear-gradient(to bottom, #d3246a 0%,#9b294a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3246a', endColorstr='#9b294a',GradientType=0 );
    
    
    text-shadow: 2px 2px 1px #4e0321;
    filter: dropshadow(color=#4e0321, offx=1, offy=1);
}
.sf-menu a{
    border:none;
}


#site-top-menu{
     display: block;
       padding:0px;
    margin:0px;
    max-width:1200px;
    background-color:#333;
    margin-top:10px;
}
#site-top-menu #top{
    margin: 0 auto;
    width: 990px;
    background: #333;
    color: #fff;
    height: 33px;
    border-bottom: 1px solid #dedede;
}

 #top .top-page {
    width: 990px;
    float: right;
    text-align: right;
    margin-top: -16px;
}
#site-top-menu{margin:0 auto;position: relative;background:#333;height:33px;font-family:Arial;  }
#top{margin:0 auto;width:990px;background:#333;color:#fff;height:33px;border-bottom:1px solid #dedede}
#top h1{width:250px;font-weight:700;color:#fff;font-size:12px;float:left;margin-top:10px;padding:0 0 0 10px}
#top .top-page{width:990px;float:right;text-align:right;margin-top:-16px;}
.top-page ul li{display:inline;color:#fff;font-size:12px;}
.top-page ul li a{display:inline;color:#fff;font-size:12px;padding: 0 10px;}
.top-page ul li a:hover{transition-property: color;transition-duration:0.2s;display:inline;color:#e8393a;font-size:12px;}
@media screen and (max-width: 800px) {
    /* #menu is the original menu */
    .js #navigation {
        display: none !important;
    }

    .js .slicknav_menu {
        display: block;
    }

    .js .bannerdiv {
        padding: 0 10px;
        margin-top: 15px;
        margin-left: 0px;
    }

    .js #site-main-menu .navigationdiv {
        padding: 0 10px;
        margin-bottom: 0px;
        display: block;
    }
}

.bannerdiv {
    padding: 0 10px;
    margin-top: 15px;
    margin-left: 1px;
}

    .bannerdiv img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

/*Fronpage Slider*/
#primary .swiper-container {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0 !important;
}

 #primary .swiper-slide {
    font-size: 18px;
    color: #4C4646;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Helvetica,Arial;
    line-height: 140%;
}



#primary .swiper-slide .title {
    font-size: 18px;
    font-weight: normal;
    border: 0;
    padding: 0;
    line-height: 140%;
    color: #1E5799;
    font-weight: bold;
}

    #primary .swiper-slide .title a {
        color: #1E5799;
    }

#primary .swiper-slide .subtitle {
    font-size: 14px;
    text-align: right;
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 5px;
    font-weight: bolder;
}
#primary .swiper-slide img{
    width:100%;
}
#primary .swiper-slide .read-contuniue a {
    border: 1px solid gray;
    background-color: #555 !important;
    width: auto;
    height: auto;
    line-height: 21px;
    color: #FFFFFF;
    display: block;
    float: right;
    text-align: center;
    text-decoration: none !important;
    padding: 0px 10px 0px 10px !important;
    margin-top: 5px;
    font-size: 13px;
}

   #primary .swiper-slide .read-contuniue a:hover {
        background-color: #807A7A !important;
    }

#primary .swiper-slide .text {
    font-size: 13px;
    line-height: 140%;
}

#primary .swiper-pagination {
    position: relative;
    height: 31px !important;
    background-color: #ebebeb !important;
    border: 1px solid #CCC !important;
    text-align: left;
}

#primary .swiper-pagination-bullet {
    width: 30px;
    height: 31px;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    color: #333;
    opacity: 1;
    background: none;
    border-radius: 0px;
    border-right: 1px solid #8C7676;
    text-shadow: 1px 1px 1px #FFF;
    border-right: 1px solid #CCC;
    font-weight: bold;
}

#primary .swiper-pagination-bullet-active {
    color: #fff;
    background: #C02B2B;
}

.swiper-slide span.bigTitle {
    position: absolute;
    bottom: 60px;
    left: 20px;
    padding: 10px;
    display: block;
    z-index: 120;
    border-radius: 5px;
    font-size: 22px;
    font-family: 'pt_sansbold';
    line-height: 20px;
    background: #A61C24;
    color: #fff;
}

.swiper-slide span.smallTitle {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 15px;
    display: block;
    border-radius: 5px;
    font-size: 26px;
    font-family: 'pt_sansbold';
    line-height: 30px;
    background: #ffffff;
    color: #000;
    width: auto;
}

@media screen and (max-width: 800px) {
    .swiper-pagination {
        height: 20px !important;
        text-align: center;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        overflow: hidden;
        border-right: none;
        margin: 2px;
        background: rgba(0,0,0,0.2);
    }

    .swiper-pagination-bullet-active {
        color: #fff;
        background: #007aff;
    }
}

/*Post Category stilleri*/
.category3column .column {
    margin-bottom: 2px;
}

.category3column article {
    margin-bottom: 2px;
}

    .category3column article img {
        width: 133px;
        float: left;
        border: 1px solid #ccc;
        padding: 2px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .category3column article div.featured-image {
        margin: 0px;
    }

        .category3column article div.featured-image a img {
            width: 100%;
            float: left;
        }

    .category3column article header.entry-header {
        float: left;
        width: 100%;
    }

    .category3column article header h3.entry-title {
        font-size: 13px;
        font-weight: bold;
        margin: 8px 0px;
        line-height: 125%;
        margin-bottom: 0px;
        min-height: 31px;
    }

        .category3column article header h3.entry-title a {
            font-size: 13px;
            color: #2277A3 !important;
            font-weight: normal;
            text-decoration: none;
            text-shadow: 1px white;
        }

            .category3column article header h3.entry-title a:hover {
                text-decoration: underline;
            }

    .category3column article div.entry-summary {
        font-size: 13px;
        line-height: 125%;
        max-height: 79px;
        overflow: hidden;
        float: left;
        word-wrap: normal;
    }

    .category3column article div.entry-meta {
        float: left;
        width: 100%;
        margin-bottom: 0px;
        background-color: whitesmoke;
        border-radius: 17px;
        padding: 2px;
    }

        .category3column article div.entry-meta .comments-link {
            float: right;
        }

/*Post Category stilleri*/
#relatedNews .column {
    margin-bottom: 2px;
}

#relatedNews article {
    margin-bottom: 2px;
}

    #relatedNews article img {
        max-width: 80px;
        float: left;
        border: 1px solid #ccc;
        padding: 2px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-top: 4px;
    }

    #relatedNews article div.featured-image {
        margin: 0px;
    }

        #relatedNews article div.featured-image a img {
            width: 100%;
            float: left;
        }

    #relatedNews article header h3.entry-title {
        font-size: 13px;
        font-weight: bold;
        margin: 5px 0px;
        line-height: 125%;
        margin-bottom: 0px;
        min-height: 31px;
    }

        #relatedNews article header h3.entry-title a {
            font-size: 13px;
            color: #2277A3 !important;
            font-weight: normal;
            text-decoration: none;
            text-shadow: 1px white;
        }

            #relatedNews article header h3.entry-title a:hover {
                text-decoration: underline;
            }

    #relatedNews article div.entry-meta {
        margin-bottom: 0px;
        border-radius: 17px;
        padding: 2px;
    }

        #relatedNews article div.entry-meta .comments-link {
            float: right;
        }


/*Haber Detail */

.newsDetail .detailContent .detailImage {
    float: left;
    width: 100%;
}

    .newsDetail .detailContent .detailImage img {
        border: 1px solid #ccc;
        width: 100%;
        float: left;
    }

.newsDetail .detailContent .divider {
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin-top: 10px;
    margin-bottom: 5px;
    float: left;
    margin-right: 0px;
}

.newsDetail .detailContent .newsInfo {
    float: left;
    width: 100%;
    font-size: 13px;
}

    .newsDetail .detailContent .newsInfo .newsCity {
        float: left;
        font-size: 13px;
        font-weight: normal;
    }

    .newsDetail .detailContent .newsInfo .newsDate {
        float: right;
    }

.newsDetail .detailTags {
    line-height: 14px;
    font-size: 13px;
    margin: 0 auto 20px auto;
    padding: 10px 0 0 0;
    display: inline-block;
    width: 100%;
    line-height: 140%;
    font-family: Helvetica,Arial;
}

    .newsDetail .detailTags span.tagsTitle {
        font-weight: bold;
        font-size: 13px;
        margin-right: 5px;
        color: #000;
    }

    .newsDetail .detailTags a.singleTag {
        color: #666;
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
    }

        .newsDetail .detailTags a.singleTag:hover {
            color: #C73030;
        }

.detailPN {
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
}

    .detailPN ul {
        display: inline-block;
        list-style: none;
    }

    .detailPN li {
        display: inline !important;
    }

    .detailPN a {
        height: 16px;
        float: left;
        padding: 0 19px 0 15px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }

        .detailPN a:hover {
            text-decoration: underline;
        }

        .detailPN a.once {
            padding: 0 15px 0 19px;
            border-right: 1px solid #b4b4b4;
        }



/*news List */
.newslist .column {
    margin-bottom: 2px;
}


.newslist article {
    margin-bottom: 2px;
}

    .newslist article img {
        width: 150px;
        float: left;
        border: 1px solid #ccc;
        padding: 2px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .newslist article header.entry-header {
        float: left;
        width: 100%;
    }

    .newslist article header h3.entry-title {
        font-size: 13px;
        font-weight: bold;
        margin: 8px 0px;
        line-height: 125%;
        margin-bottom: 0px;
        min-height: 31px;
    }

        .newslist article header h3.entry-title a {
            font-size: 13px;
            color: #2277A3 !important;
            font-weight: normal;
            text-decoration: none;
            text-shadow: 1px white;
        }

            .newslist article header h3.entry-title a:hover {
                text-decoration: underline;
            }

    .newslist article div.entry-summary {
        font-size: 13px;
        line-height: 125%;
        max-height: 79px;
        overflow: hidden;
        float: left;
        word-wrap: normal;
    }

    .newslist article div.entry-meta {
        float: left;
        width: 100%;
        margin-bottom: 0px;
        background-color: whitesmoke;
        border-radius: 17px;
        padding: 2px;
    }

        .newslist article div.entry-meta .comments-link {
            float: right;
        }

/* Pagination */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    padding-top: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a,
        .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
        }

        .pagination > li:first-child > a,
        .pagination > li:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination > li:last-child > a,
        .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover,
        .pagination > li > span:hover,
        .pagination > li > a:focus,
        .pagination > li > span:focus {
            background-color: #eeeeee;
        }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #ffffff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
        border-color: #dddddd;
    }

.pagination-lg > li > a,
.pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}

    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager:before,
    .pager:after {
        display: table;
        content: " ";
    }

    .pager:after {
        clear: both;
    }

    .pager li {
        display: inline;
    }

        .pager li > a,
        .pager li > span {
            display: inline-block;
            padding: 5px 14px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 15px;
        }

            .pager li > a:hover,
            .pager li > a:focus {
                text-decoration: none;
                background-color: #eeeeee;
            }

    .pager .next > a,
    .pager .next > span {
        float: right;
    }

    .pager .previous > a,
    .pager .previous > span {
        float: left;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
        color: #999999;
        cursor: not-allowed;
        background-color: #ffffff;
    }


/* Etkinlik ve Duyuru*/
.etkinlik-block {
    min-height: 200px;
    height: 200px;
    height: auto !important;
    /* margin-top: -10px; */
}

#block-views-etkinlik-blogu-block h2 {
    font-family: "Ubuntu Condensed";
    font-size: 16px;
}

#content h2 {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
}

.etkinlik-block h2 {
    background-color: #676767;
    font-family: Georgia,Times,"Times New Roman",serif;
    color: #fff;
    margin: 0;
    padding: 5px;
    text-shadow: 0 1px #000000;
}

.etkinlik-block .item-list ul li:nth-child(2n+1) {
    background-color: #f6f5f5;
}

.etkinlik-block .item-list ul li {
    line-height: 18px;
    list-style: none outside none;
    font-size: 12px;
    padding: 10px 8px;
}

.etkinlik-block .item-list ul li {
    line-height: 18px;
    list-style: none outside none;
    font-size: 12px;
    padding: 10px 8px;
}

    .etkinlik-block .item-list ul li a {
        color: #014f7e;
    }


/* Dikey Haberler*/
.dikey-haberler {
    border: 1px #fff solid;
    background: #fff;
    box-shadow: 0px 2px 1px 0px #d3d3d3;
    -webkit-box-shadow: 0px 0px 1px 0px #d3d3d3;
    box-shadow: 0px 2px 1px 0px #d3d3d3;
    height: auto;
    padding: 5px 5px;
    min-height: 241px;
}

    .dikey-haberler img {
        border: 1px solid #999;
        max-width:186px;
        width:100%;
        margin: 2px 7px 5px 0px;
        padding: 1px;
        float:left;
    }

    .dikey-haberler .haber-title {
        color: #454545;
        height: 34px;
        overflow: hidden;
        padding-bottom: 9px;
        font-size: 17px;
        font-family: 'pt_sansbold';
    
        float: left;
}

    .dikey-haberler .haber-summary {
        color: #454545;
        padding-top: 5px;
        padding-bottom: 7px;
        font-size: 13px;
        line-height: 18px;
    }

.haber-cerceve {
    margin-bottom: 7px;
    margin-top: 2px;
    -webkit-box-shadow: 0px 0px 1px 0px #d3d3d3;
    height: auto;
    box-shadow: 0px 2px 1px 0px #d3d3d3;
    font-family: Arial;
    height: auto;
    float: left;
    border: 1px #EAE0E0 solid;
    background: #FDFDFD;
    margin-left: -1px;
    
    width: 100%;
}
.haber-cerceve:hover {background:#F0F0F0}


/* SPOT HABERLER */
.spot-haberler{float:left;width:235px;height:180px;font-family:Tahoma,Arial, Helvetica, sans-serif;margin-left:-10px;}
.spot-haberler a{color: #454545;text-decoration:none;font-size:17px;font-family: 'pt_sansbold';text-align:center}
.spot-haberler a:hover{transition-property: color;transition-duration:0.2s;color:#e8393a;font-size:17px;font-family: 'pt_sansbold';}
.spot-haberler img{border:1px solid #ccc;float:left;width:238px;height:130px;margin:-48px 2px 14px 4px;}
.spot-haberler img:hover{border:1px solid #333;float:left;width:238px;height:130px;margin:-48px 2px 14px 4px;}
.spot-cerceve{margin-bottom:7px; margin-top:2px;-webkit-box-shadow: 0px 0px 1px 0px #d3d3d3;
box-shadow: 0px 2px 1px 0px #d3d3d3;font-family:Arial;width:620px;height:auto;float:left;border:1px #fff solid;background:#fff;margin-left:-1px;padding:5px 5px}
.spot-cerceve:hover {background:#F0F0F0}
.spot-karanlik{font-size:14px;color:#454545;position:relative;top:136px;width:234px;height:35px;padding:5px;margin-left:4px;margin-bottom:2px;}
.spot-karanlik a{color:#e8393a;font-size:14px;}
/* KUTU HABERLER */
.kutu-haberler {
    float: left;
    font-family: Arial;
    margin: 4px 1px 4px 10px;
}

    .kutu-haberler .ozet {
        line-height: 17px;
        padding-top: 5px;
        font-size: 13px;
        color: #454545;
    }

    .kutu-haberler .baslik {
        color: #454545;
        font-size: 17px;
        font-family: 'pt_sansbold';
        margin-top: 5px;
    }

        .kutu-haberler .baslik a {
            color: #454545;
            font-size: 17px;
            font-family: 'pt_sansbold';
            margin-top: 5px;
        }

            .kutu-haberler .baslik a:hover {
                transition-property: color;
                transition-duration: 0.2s;
                color: #e8393a;
                font-size: 17px;
                font-family: 'pt_sansbold';
                margin-top: 5px;
            }

    .kutu-haberler img {
        float: left;
        border: 1px solid #999;
        width: 186px;
        height: 106px;
        margin: 0px 5px 5px 4px;
        padding: 1px;
    }

        .kutu-haberler img:hover {
            float: left;
            border: 1px solid #333;
            margin: 0px 5px 5px 4px;
            width: 186px;
            height: 106px;
        }

  
/* Başlık */
.ic-sayfalar-baslik {
    border: 1px solid #ccc;
    background-color: #262930;
  
    margin-top: -6px;
    overflow: hidden;
    width: 100%;
    color: #fff;
}

.anasayfa-sayfalar-baslik {
    color: #fff;
    border: 1px solid #262930;
    background: #262930;
    height: 31px;
    width: 618px;
    overflow: hidden;
    margin-left: -12px;
    margin-top: -8px;
}

    .anasayfa-sayfalar-baslik h1 {
        color: #fff;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: Arial;
        font-size: 20px;
        width: 618px;
        font-weight: bold;
    }

.ic-sayfalar-baslik h1 {
    color: #ffffff;
    padding-left: 10px;
    padding-bottom: 3px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-weight: bold;
    height: 30px;
    padding-top: 7px;
}
/*Ust Haber Slider*/
#ust-haber .swiper-container {
        width: 100%;
        height: 100%;
    }
    #ust-haber .swiper-slide {
         text-align: center;
        font-size: 18px;
        background: #fff;
        
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
/*yazarlar .css*/
.yazarlar ul {width:100%;}
.yazarlar li {border-bottom:1px dotted #ccc;padding:15px 10px;position:relative;}
.yazarlar li:hover{background-color: #E6E6E6;}
.yazarlar li.yazarNet {background:#cc0000;}
.yazarlar li.yazarNet a, .yazarlar li.yazarNet strong, .yazarlar li.yazarNet span {color:#fff !important;}
.yazarlar li.yazarNet img {border-color:#fff;}
.yazarlar li.yazarNet strong.net {font-size:13px;float:right;background:#fff;color:#cc0000 !important;padding:5px;margin-bottom:5px;}
.yazarlar li img {float:left;border:1px solid #ccc;padding:1px;margin-right:10px;}
.yazarlar li span.date {position:absolute;right:10px;top:10px;color:#cc0000;font-size:11px;}
.yazarlar li a.yazar {display:block;font-size:14px;font-weight:700;margin-bottom:4px;}
.yazarlar li a.mail {display:inline-block;color:#cc0000;font-weight:700;margin-bottom:5px;}
.yazarlar li strong {display:block;}

.yazarBox {margin:0 0 10px; position:relative; float:left; width:610px; display:inline-block; height:105px;border-bottom:1px solid #eee;}
.yazarBox .right {float:left; width:500px; margin-top:8px}
.yazarBox .right strong {font-size:15px;}
.yazarBox .red {color:#cc0000;}
.yazarBox img {float:left; margin:8px 12px 0 0;}
.yazarBox a.yadi {font-size:24px; color:#333; float:left;line-height:24px; margin-right:5px; font-weight:bold}
.yazarBox span {font-size:18px; color:#c00; line-height:23px;}
.yazarBox span.dot{ color:#ccc; line-height:5px; float:left; font-family:Georgia, "Times New Roman", Times, serif; font-size:35px; margin-left:0px}
.yazarBox .bio{ font-size:13px; color:#333; margin:5px 0}
.yazarBox a.mail {color:#666 !important;}
span.tumu {margin-bottom:0; color:#cc0000; display:block; font-size:14px; border-bottom:1px solid #ddd; padding-bottom:10px}
.yazarBox a {font-size:11px;display:block; color:#333;}
.yazarBox span.date {font-size:12px; position:absolute; bottom:2px; right:5px; color:#000; margin-top:18px; line-height:normal;}

.yazilar{margin:5px 0 5px 0;padding:0}
.yazilar li{border-bottom:1px dotted #999;text-decoration:none;margin:3px 0;padding:3px; font-size:14px;font-weight:normal;}
.yazilar li a,.diger-haberler li a:visited{text-decoration:none;color:#454545}

/*yazar Widget */
#yazarWidget .yazarwrapper{    
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
    border-bottom: solid 1px #ccc;

}

#yazarWidget img{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    padding: 3px;
    border: solid 1px #d9d9d9;
    margin-right: 10px;
}
#yazarWidget span{
    display: block;
}
#yazarWidget .line{
    display: block;
    height: 2px;
    margin-bottom: 5px;
    background: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,#fff 0%,#fff 25%,#d2d2d2 27%,#d2d2d2 43%,#fff 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#fff),color-stop(25%,#fff),color-stop(27%,#d2d2d2),color-stop(43%,#d2d2d2),color-stop(100%,#fff));
    background: -webkit-linear-gradient(left,#fff 0%,#fff 25%,#d2d2d2 27%,#d2d2d2 43%,#fff 100%);
    background: -o-linear-gradient(left,#fff 0%,#fff 25%,#d2d2d2 27%,#d2d2d2 43%,#fff 100%);
    background: -ms-linear-gradient(left,#fff 0%,#fff 25%,#d2d2d2 27%,#d2d2d2 43%,#fff 100%);
    background: linear-gradient(to right,#fff 0%,#fff 25%,#d2d2d2 27%,#d2d2d2 43%,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gr
}
/* GENEL */
.buyuk-cerceve{font-family:Arial;width:100%;height:auto;float:left;border:1px #e5e5e5 solid;background:#fff;margin-left:0px;}
.buyuk-cerceve a:hover{color:#e8393a;}
.h3_box{
        display: block;
    min-height: 30px;
    height: auto;
    margin-bottom: -1px;
    background: #e6e6e6;
    border-left: solid 9px #c00;
    -webkit-box-shadow: 2px 0 0 0 rgba(224,224,224,.7);
    box-shadow: 2px 0 0 0 rgba(224,224,224,.7);
    position: relative;
    z-index: 2;
        text-indent: 10px;
    line-height: 30px;
    padding-top: 2px;
}
.katicon-kutu{float:right;width:auto;display:block;clear:both;overflow:hidden;margin-top: -15px;position:relative}
.katicon-kutu li{float:left;display:inline;color:#fff;font-family: 'pt_sansbold';font-size:11px;}
.katicon-kutu li.active{background:#A61C24;border:0;overflow:hidden;width:100%;display:block;text-align:center;text-decoration:none;color:#FFF;padding:4px 6px 3px 0px;}
.katicon-kutu li.durum a{float:right;width:auto;display:block;clear:both;overflow:hidden;margin-top:-30px!important;position:relative}
.katicon li.active a,.katicon-kutu li.active a,.sosyalaglar li.active a{color:#fff; font-size:14px;}