	/* primary-menu */
	.sf-menu,
	.sf-menu ul {		
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	.sf-menu > li { float: left; background-color: inherit; color: white;}

	.sf-menu > li > a {
		position: relative;
		display: block;
	
		color: white;
}
	
	.sf-menu .sf-mega,
	.sf-menu li.dropdown ul {
		position: absolute;
		z-index: 9999;
		top: 107%;
		left: 0;
		display: none;
	}
	
	.sf-menu li.dropdown { position: relative; }
	
	.sf-menu li.dropdown ul ul {
		top: -1px;
		left: 100%;
	}
	
	.sf-menu li:hover > .sf-mega,
	.sf-menu li.sfHover > .sf-mega,
	.sf-menu li.dropdown:hover > ul,
	.sf-menu li.dropdown.sfHover > ul { 
		top: 107%;
		display: block; 
	}

	/* Menu Skin */
	
	.sf-menu { 
		width: 100%;
		float: left;
		position: relative;
		z-index: 99;
	} 
	
	.sf-menu a {
		display: block;
		font-weight: bold;
		font-size: 13px;
		text-decoration: none;
	}
		.sf-menu a:hover {
			color:#ccc;
		}
	}
	
	.sf-menu > li a i { margin-right: 5px; }
	
	.sf-menu > li > a span { 	    
		display: block;
	    padding: 15px 25px;
	    font-size: 14px;
	    font-weight: bold;
	     }
	.sf-menu > li+li {
		border-left: 1px solid #d9d9d9;
	}
	
	.sf-menu li > a span:hover {
		border-bottom: 3px solid #d73300;
		margin-bottom: -3px;
		-o-transition:0s;
		-ms-transition:0s;
		-moz-transition:0s;
		-webkit-transition:0s;		
	}
	
	.sf-menu > li.current > a span {
		border-bottom: 3px solid #d73300;
		margin-bottom: -3px;
		-o-transition:0s;
		-ms-transition:0s;
		-moz-transition:0s;
		-webkit-transition:0s;
	}

	/**
 	 * 1. allow long menu items to determine submenu width
 	 */
	
	.sf-menu li.dropdown ul {
		min-width: 180px; /* 1 */
		background-color: #f9f9f9;		
	}

	.sf-menu > li.dropdown > ul li {
		border-bottom: 1px solid #eeeeee!important;
	}

	.sf-menu > li.dropdown > ul li a { 
		padding: 10px 15px; 
	}
	
	.sf-menu > li.dropdown > ul li a:hover {
		color: #ffffff;
		background: #d73300;
		-o-transition:0s;
		-ms-transition:0s;
		-moz-transition:0s;
		-webkit-transition:0s;
	}		
	/* mega menu dropdown */
	
	.sf-mega {
		width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 15px 0;
		border: 1px solid #dbdbdb;
		background-color: #f9f9f9;
	}
	
	.sf-mega-section {
		float: left;
		min-width: 155px;
		width: 25%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
		padding: 0 25px;

	}

	.sf-mega-section:last-child {
		border: none;
	}

	.sf-mega-section strong a {
		font-size: 14px;
		font-weight: bold;
		color: #2c2c2c;
		padding-bottom: 10px;
	} 

	.sf-mega-section a {
		font-weight: normal;
		color: #a3a3a3;
		padding-bottom: 5px;
	}

	.sf-mega-section strong a:hover,
	.sf-mega-section a:hover {
		color: #d73300;
		-o-transition:0s;
		-ms-transition:0s;
		-moz-transition:0s;
		-webkit-transition:0s;
	}
	
	/* Mobile Menu  */
			
	#mobile-menu {
		z-index: 20;
		border-bottom: 1px solid #b4bfc3;
		margin-bottom: 30px;
	}
	
	#mobile-menu li {	
		display: block;
		margin: 0;
	}
		
	#mobile-menu > li > ul, 
	#mobile-menu > li > ul > li > ul {
		display: none;
		margin-left: 0;
	}
	
	#mobile-menu .sf-mega {
		display: none;
		padding: 0;
		border: none;
		margin: 0;
	}
	
	#mobile-menu .sf-mega-section {
		float: none;
		width: 100%;
		padding: 0;
		border: none;
	}
	
	#mobile-menu .sf-mega-section ul { margin-left: 0; }

	#mobile-menu li a {
		position: relative;
		display: block;
		padding: 15px 25px;
		border-top: 1px solid #b4bfc3;
		font-size: 13px;
		text-align: left;
		text-decoration: none;
	}
	
	#mobile-menu ul a { padding-left: 45px; }
	
	#mobile-menu ul li ul a  { padding-left: 65px; }
	
	#mobile-menu .mobile-menu-submenu-arrow {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 70px;
		border-left: 1px solid #b4bfc3;
		color: #022b36;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
	}
	
	#mobile-menu .mobile-menu-submenu-arrow:hover { background-color: #c8d3d7; }
	
	#mobile-menu li a:hover {}
	
	#mobile-menu { display: none; }
	
	/* Mobile menu trigger  */
				
	#mobile-menu-trigger { 
		float: right;
		display: none;
		margin-top: 34px;  
		font-size: 32px;
	}					   	

/* #Tablet (Portrait)
   ========================================================================== */

	@media (min-width: 768px) and (max-width: 979px) {
		
		#menu { display: none; }
		.sf-mega {
			width: 100%;
		}
		
		#mobile-menu-trigger { 
			display: block;
			margin-top: 10px;
			margin-right: 10px;
		}
	}	
/* #Mobile (Portrait and Landscape )
   ========================================================================== */
	
	@media (max-width: 767px) {
		
		#menu{ display: none; }
		.sf-mega {
			width: 100%;
		}
		

		#mobile-menu-trigger { 
			position: relative;
			top: 0px;
			right: 10px;
			display: block;
			padding: 10px;
			margin-top: 0;
		}
	}
	
/* #Mobile ( Landscape )
  ========================================================================== */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#menu { display: none; }		
		#mobile-menu-trigger { right: 30px; }
		.sf-mega {
			width: 100%;
		}		
	}	

/* topmenu----------------------------------------------------------------------------------*/
	.cocaMenu ul{z-index:100;margin: 0;padding: 0;list-style-type: none;}
	/*Top level list items*/
	.cocaMenu ul li{position: relative;display: inline-block;}
	/*Top level menu link items style*/
	.cocaMenu ul li a{display: block;padding: 8px 10px;text-decoration: none;z-index: 0;position: relative;}
	* html .cocaMenu ul li a{ display: inline-block;}
	.cocaMenu ul li a:link, .cocaMenu ul li a:visited{}
	.cocaMenu ul li a.selected{ background: black; }
	.cocaMenu ul li a:hover{/*background of menu items during onmouseover (hover state)*/}
	/*1st sub level menu*/
	.cocaMenu ul li ul{position: absolute;left: 0;display: none; visibility: hidden;z-index: 9999;text-align: left;width: 200px;}
	/*Sub level menu list items (undo style from Top level List Items)*/
	.cocaMenu ul li ul li{display: list-item;float: none;}
	/*All subsequent sub menu levels vertical offset after 1st level sub menu */
	.cocaMenu ul li ul li ul{top: 0;}
	/* Sub level menu links style */
	.cocaMenu ul li ul li a{min-width: 130px; /*width of sub menus*/padding:8px 13px 8px;display: block;z-index: 9999;}
	/* Holly Hack for IE \*/
	* html .cocaMenu{height: 1%;} /*Holly Hack for IE7 and below*/

			/* Primary Navigation */
		.top-nav.cocaMenu ul li a{padding:15px 20px;font-size: 13px;line-height: 1; font-weight: bold;}
		.top-nav ul li a{color:#2c2c2c;z-index: 9999;}
		.top-nav ul li a:hover{color: #d73300;}
		.top-nav ul li:last-child a{padding-right:0px;}
		.top-nav ul li.current-menu-item a{color: #d73300;}
		.top-nav ul li.current-menu-item ul li a{color: #2c2c2c;}
		.top-nav ul li ul {background:#fff;box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);}  
		.top-nav.cocaMenu ul li ul li{padding:0px;}
		.top-nav.cocaMenu ul li ul li a{min-width: 150px;padding:12px 10px;display: block;font-size: 13px;border:none;}
		.top-nav.cocaMenu ul li ul li:last-child a{border-bottom:none;}
		.top-nav.cocaMenu ul li ul li a:hover,
		.top-nav.cocaMenu ul li ul li.current-menu-item a{
			background-color: #d73300; color: #FFF;font-size: 13px;		
			-o-transition:0s;
			-ms-transition:0s;
			-moz-transition:0s;
			-webkit-transition:0s;
			border:none;
		}
		/* Mobile Version */
		#top-nav-mobile-a{display: none;}
		#top-nav-mobile-id{display: none;}
		#top-nav-mobile-a{padding:8px 0 8px 0;background: #202020;position: relative;font-size: 14px;color:#fff;text-transform: none !important;text-align: center;}
		#top-nav-mobile-a span{width:9px;height: 5px;display: block;background: url('../images/primary-mobilemenu-arrowdown.html') no-repeat;position: absolute;top:18px;left:16px;}
		#top-nav-mobile-id{margin:0px;background: #333333;padding-bottom:8px;display: none;}
		#top-nav-mobile-id li{margin-bottom:0px;border-top:1px solid #222222;}
		#top-nav-mobile-id li a{border-top:1px solid #444444;color:#cccccc;padding:6px 19px 6px;font-size: 14px;text-shadow: none !important; display: block;}
		#top-nav-mobile-id li ul li a{padding-left:40px;color:#999999 !important;}
		#top-nav-mobile-id li a:hover,#top-nav-mobile-id li a:active{color:#fff !important;background: #444444;}
		.top-nav-mobile-id li a:hover,.top-nav-mobile-id li.current-menu-item a{background: #16a1e7;}
		.top-nav-opened span{-webkit-transform: rotate(-180deg);-moz-transform: rotate(-180deg);-o-transform: rotate(-180deg);-ms-transform: rotate(-180deg);transform: rotate(-180deg);}

/*	Responsive Grid (foundation)
----------------------------------------------------------------------------------------*/
	/* All Mobile Sizes (devices and browser)(1,2,3) */
	@media only screen and (max-width: 767px){
		/* Primary Nav */
		#top-nav-mobile-a{display: block;}
		#top-nav-mobile{display: block;text-align: left!important;}
		#top-nav-id{display: none;}
	}
	/*	Responsive Grid For Mobile
----------------------------------------------------------------------------------------*/
/* Tablet Portrait size to standard 960 (devices and browsers) (4)*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
		#top-nav-wrapper #top-nav .menu-res.cocaMenu {
			float:none;
		}
}


