﻿@model FakirCms.WebUI.Models.HomeIndexView
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = "Fakir Yazılım Demo Sitesi";
    var description = "Demo haber sitesi, haberlerin bulunduğu site sadece denemek amaçlı yapılmıştır.";
    var keywords = "fakir yazılım,demo,haber,asp.net";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />

}

@section TopHaber{

    <div id="ust-haber">
        <div class="container">
            <div class="row row-wrapper">
                <div class="row">
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            @if (Model.UstHaberler.Count() > 0)
                            {
                                foreach (var haber in Model.UstHaberler)
                                {
                                    <div class="swiper-slide">
                                        <div class="spot-cerceve" style="width:225px; margin-left:10px; margin-bottom:9px;">
                                            <div class="spot-haberler" style="margin-top:-5px; margin-bottom:7px;">
                                                <div class="spot-karanlik"><a href="@haber.Link" title="@haber.Title" target="_blank">@haber.Title</a></div>
                                                <a href="@haber.Link" title="@haber.Title" target="_blank">
                                                    <img src="@Url.Content(haber.Image)" width="190" height="96" alt="@haber.Title">
                                                </a>

                                                <div style=" background:#A61C24; width:235px; z-index:100; position:relative; margin-left:5px; margin-top:83px; height:3px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                        <!-- Add Scrollbar -->
                        <div class="swiper-scrollbar"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
<!-- Swiper -->
<div class="swipperdiv">
    <div class="swiper-container">
        <div class="parallax-bg" data-swiper-parallax="-23%"></div>
        <div class="swiper-wrapper">
            @if (Model.Haberler.Count() > 0)
            {
                foreach (var haber in Model.MansetHaberler)
                {
                    <div class="swiper-slide">

                        <a href="@haber.Link" title="@haber.Title">
                            <img alt="@haber.Title" src="@haber.Image">
                            <span class="bigTitle">@haber.SpotBigTittle</span>
                            <span class="smallTitle">@haber.SpotSmallTitle</span>
                        </a>

                        @*<div class="title" data-swiper-parallax="-100"><a href="@haber.Link">@haber.Title</a></div>
                            @Html.Raw(haber.IntroText)
                            <div class="read-contuniue">
                                <a href="@haber.Link">Devamını Okuyunuz</a>
                            </div>*@
                    </div>
                }
            }
            else
            {
                @:Öğe Bulunamadı
        }

        </div>
        <!-- Add Pagination -->
    </div>
    <div class="swiper-pagination"></div>
</div>

<div class="block-head" style="
    padding: 0px;
    border-bottom: 2px solid black;
    margin: 10px 0px;
">
    <h3 style="
    margin: 0px;
">
        <span>Haberler</span>
    </h3>
</div>

<div class="category3column">

    <div class="row">
        @foreach (var post in Model.MainHaberler)
        {

            <div class="four column">
                <div class="dikey-haberler">
                    <a href="@post.Link">
                        <img alt="@post.Title" src="@Url.Content(post.HighThumbnail)">
                    </a>


                    <div class="haber-title">
                        <a href="@post.Link">@post.Title</a>
                    </div>

                    <div class="haber-summary">
                        @if (post.IntroText.Length > 90)
                        {
                            @(post.IntroText.Substring(0, 90) + "...")
                        }
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<div class="clear"></div>
<br />
@if (Model.Haberler.Count() > 0)
{
    foreach (var post in Model.AltHaberler)
    {
        <div class="haber-cerceve">
            <div class="kutu-haberler">
                <a href="@post.Link" title="@post.Title" target="_blank">
                    <img src="@Url.Content(post.MediumThumbnail)" width="186" height="96" alt="@post.Title">
                </a>
                <div class="baslik"><a href="@post.Link" title="@post.Title" target="_blank">@post.Title</a></div>
                <div class="ozet"><a href="@post.Link" title="@post.Title" target="_blank">@post.IntroText</a></div>

            </div>
        </div>

    }
}
else
{
    @:"Haber Yok"
   }





