﻿
@{
    ViewBag.Title = "Index";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        @TempData["error"]
    </div>
}

