﻿@model FakirCms.WebUI.Areas.Admin.Models.UserCreateModel

@{
    ViewBag.Title = "Create";
}

@section ContentHeader{
    <h1>
        Kullanıcı Yöneticisi
        <small>Yeni</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li><a href="@Url.Action("Index","User")"><i class="fa fa-dashboard"></i> Kullanıcılar</a></li>
        <li class="active">Yeni Kullanıcı</li>
    </ol>
}

@using (Html.BeginForm())
{
    <div class="box">
        <div class="box-header">
            <h4>Yeni Kullanıcı</h4>
        </div>
        <div class="box-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordAgain, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PasswordAgain)
                        @Html.ValidationMessageFor(model => model.PasswordAgain)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Kullanıcı Rolü Seçin:", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var roleName in ViewBag.RoleList)
                        {
                            <label class="checkbox-inline">
                                <input type="checkbox" name="Roles" id="Roles" value="@roleName" />
                                @roleName
                            </label>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Kaydet" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}

