﻿@model FakirCms.WebUI.Areas.Admin.Models.UserEditModel

@{
    ViewBag.Title = "Edit";
}

@section ContentHeader{
    <h1>
        Kullanıcı Yöneticisi
        <small>Düzenle</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li><a href="@Url.Action("Index","User")"><i class="fa fa-dashboard"></i> Kullanıcılar</a></li>
        <li class="active">Yeni Kullanıcı</li>
        <li class="active">Kullanıcı Düzenle</li>
    </ol>
}
@if (TempData["success"] != null)
{
    <p>@TempData["success"].ToString()</p>
}

@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    <div class="box">
        <div class="box-header">
            <h4>Kullanıcı Düzenle</h4>
        </div>
        <!--Box body start-->
        <div class="box-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Kullanıcı Rolü Seçin:", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @foreach (var roleName in ViewBag.RoleList)
                        {

                            if (Model.Roles != null && Model.Roles.Count() > 0 && Model.Roles.Contains(roleName))
                            {
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Roles" id="Roles" checked="checked" value="@roleName" />
                                    @roleName
                                </label>
                            }
                            else
                            {
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="Roles" id="Roles" value="@roleName" />
                                    @roleName
                                </label>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
        <!--box body son -->
        <div class="box-footer">
            <input type="submit" value="Kaydet" class="btn btn-default" />
            @Html.ActionLink("Çıkış", "Index")
        </div>
    </div>
}


