﻿
@model Array
@{
    ViewBag.Title = "Index";
}


@section ContentHeader{
    <h1>
        Kullanıcı Yöneticisi
        <small>Kullanıcılar</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Kullanıcılar</li>
    </ol>
}

<div class="box" id="UserIndexView">
    <!-- Box Header Start -->
    <div class="box-header">
        <a class="toolbar" href="@Url.Action("Create","User")">
             <i class="icon-32-new"></i>Yeni Kullanıcı
        </a>
        <a class="toolbar taskEvent" data-task="edit" data-ajax="false" data-boxchecked="true" data-showresultinpopup="false">
            <i class="icon-32-edit"></i> Düzenle
        </a>
        <a class="toolbar taskEvent" data-task="publish" data-ajax="true" data-boxchecked="true" data-showresultinpopup="false">
            <i class="icon-32-publish"></i>Aktif Et
        </a>
        <a class="toolbar taskEvent" data-task="unpublish" data-ajax="true" data-boxchecked="true" data-showresultinpopup="false">
            <i class="icon-32-unpublish"></i>Onay İptal
        </a>
        <a class="toolbar taskEvent" href="" data-task="exit" data-ajax="false" data-checkcontrol="false" data-showresultinpopup="false">
            <i class="icon-32-cancel"></i>Çıkış
        </a>
    </div>
    <!-- Box Header End -->
    <!-- Box Body Start-->
    <div class="box-body">
         <table id="adminTable" class="table table-striped table-bordered dataTable"></table>
    </div>
    <!-- Box Body End-->
    <!-- Box Footer Start-->
    <div class="box-footer clearfix">

    </div>
    <!-- Box Footer End -->
</div>
@section Css{
    <link href="@Url.Content("~/Areas/Admin/Content/css/datatables/dataTables.bootstrap.css")" rel="stylesheet" type="text/css">
}
@section Scripts{
    <script src="~/Areas/Admin/Scripts/pages/UserIndexView.js"></script>
    <script type="text/javascript">
        $("#UserIndexView").UserIndexView({
            tableId: "adminTable"
        });
    </script>
}