﻿@model FakirCms.WebUI.Areas.Admin.Models.UserPasswordResetModel
@{
    ViewBag.Title = "ResetPassword";
}

@section ContentHeader{
    <h1>
        Kullanıcı Yöneticisi
        <small>Şifre Değiştir</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li><a href="@Url.Action("Index","User")"><i class="fa fa-dashboard"></i> Kullanıcılar</a></li>
        <li class="active">Şifre Değiştir</li>
    </ol>
}
@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
    <div class="box">
        <div class="box-header">
            <h4>Şifre Değiştir</h4>
        </div>
        <div class="box-body">
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=>x.Id)
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })           
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PasswordAgain, new { @class="control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.PasswordFor(x => x.PasswordAgain, new { @class="form-control"})
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" value="Kaydet" class="btn btn-default" />
            @Html.ActionLink("İptal", "Index")
        </div>
    </div>
}
