﻿@model IEnumerable<FakirCms.Domain.Models.AuthorDetail>
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = "Yazarlar";
    var description = "Yazarlarımızın yazılarına buradan ulaşabilirsininiz";
    var keywords ="yazar,köşe yazısı";

    var facebookType = "article";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />

    <!--socail meta tags-->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:type" content="@facebookType" />
    <meta property="og:site_name" content="Demo Haber Sitesi" />
    <meta property="og:url" content="@Request.Url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
}

<div class="ic-sayfalar-baslik">
    <h1> YAZARLARIMIZ</h1>
</div>
<div class="yazarlar">
    <div class="buyuk-cerceve">
        @if (Model.Count() > 0)
        {
            <ul>
                @foreach (var author in Model)
                {
                    <li>
                        <a href="@author.Link"
                           title="@author.Name">
                            <img width="65" src="@author.Image" alt="">
                        </a>
                        <span class="date">@author.LastArticleDate.ToString("dd/MM/yyyy")</span>
                        <a href="@author.Link" class="yazar" title="@author.Name" >@author.Name</a>
                        <a href="mailto:@author.Email" class="mail">@author.Email</a>
                        <a href="@author.LastArticleLink" >
                            <strong>@author.LastArticleTitle</strong><span></span>
                        </a>
                       <div class="clear"></div>
                    </li>

                }
            </ul>
        }
    </div>
</div>

