﻿@model FakirCms.WebUI.Areas.Admin.Models.CreateArticleModel
@{
    ViewBag.Title = "Köşe Yazısı";
}

@section Scripts{
    <script src="~/Areas/Admin/Scripts/pages/ArticleCreateView.js"></script>
    <script type="text/javascript">
        $(function () {

            $("#articlecreateview").ArticleCreateView();
        });
    </script>

}

@section ContentHeader{
    <h1>
        Köşe Yazısı:
        @if (Model.Id > 0)
        {
            <small>Düzenle</small>
        }
        else
        {
            <small>Yeni</small>
        }

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("Index","Article")">Köşe Yazıları</a></li>
        @if (Model.Id > 0)
        {
            <li class="active">Köşe Yazısı Düzenle</li> }
        else
        {
            <li class="active">Yeni Köşe Yazısı</li>}

    </ol>
}


<div id="articlecreateview">
    @using (Html.BeginForm("Create", "Article", FormMethod.Post, new { @class = "role", @id = "AdminForm" }))
    {

        <div id="ShowResultDiv" style="display: block;">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    @TempData["success"]
                </div>
            }

            @if (TempData["error"] != null)
            {
                <div class="alert alert-error">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    @TempData["error"]
                </div>
            }

            @if (!ViewData.ModelState.IsValid)
            {
                <div class='alert alert-danger alert-dismissable'>
                    <i class='fa fa-ban'></i>
                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                    @Html.ValidationSummary()
                </div>
            }
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <div class="row">
            <div class="col-md-9">
                <!-- Custom Nav Tabs Start-->
                <div class="nav-tabs-custom">
                    <div class="box box-solid">
                        <div class="box-header">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Yazı Özellikleri</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab">Yazı Metni</a></li>
                                <li class=""><a href="#tab_3" data-toggle="tab">Meta Bilgisi</a></li>
                            </ul>
                        </div>
                        <!--Box Body Start-->
                        <div class="box-body">

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--Tab 1 Start -->
                                <div class="tab-pane active" id="tab_1">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Alias, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @placaholder = "Haber başlığından oluşturulacak" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.AuthorID, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(m => m.AuthorID, Model.AuthorSelecList, new { @class = "col-md-10" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(x => x.Date, Model.Date.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture))
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Publish, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(x => x.Publish)
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <!-- Tab 1 End-->
                                <!-- Tab 2 Start-->
                                <div class="tab-pane" id="tab_2">
                                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                                </div>
                                <!-- Tab 2 End-->
                                <!-- Tab 3 Start-->
                                <div class="tab-pane" id="tab_3">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaTitle, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaDescription, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaKeywords, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control", @data_role = "tagsinput" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 3 End-->
                            </div>
                            <!-- Tab panes  End-->
                        </div>
                        <!-- Box Body End-->
                        <!--Box Footer Start-->
                        <div class="box-footer">
                            <div class="form-group">

                                <input type="submit" value="Kaydet" class="btn btn-default" />
                                @Html.ActionLink("İptal", "Index")

                            </div>
                        </div>
                        <!-- Box Footer End-->
                    </div>
                    <!--Box Body End-->
                </div>
                <!-- Custom Nav Tabs End-->
            </div>
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Yazı Bilgisi</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div><!-- /.box-tools -->
                    </div>
                    <div class="box-body" style="font-size:13px">
                        <div class="row">
                            @Html.Label("Kayıt Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Created.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Oluşturan:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.CreatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncellenme Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Updated.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncelleyen:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.UpdatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("İzlenim:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Hits
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Kimlik:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Id
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
