﻿@model List<FakirCms.Domain.Models.AuthorDetail>

@{
    int blockNumber = (int)Math.Ceiling((decimal)Model.Count / 5);
}

<aside id="trending" class="widget widget_trending">
    <h3 class="h3_box"><span>Yazarlar</span></h3>
    <div class="widget-container">
        <div id="yazarWidget" class="owl-carousel">

            @for (int i = 0; i < blockNumber; i++)
            {
                <div class="item">
                    <div class="list-post">
                        @{List<FakirCms.Domain.Models.AuthorDetail> list = Model.Skip(i * 5).Take(5).ToList();}
                        @foreach (var item in list)
                        {
                            <div class="yazarwrapper">
                                <a href="@item.Link" title="@item.Name">
                                    <img src="@item.Image" alt="@item.Name" title="@item.Name">
                                </a>
                                <a href="@item.Link" title="@item.Name" >
                                    <strong>@item.Name</strong>
                                </a>

                                <div class="line"></div>
                                <a href="@item.LastArticleLink" title="@item.LastArticleTitle">
                                    <span>@item.LastArticleTitle</span>
                                </a>
                                <div class="clear"></div>
                            </div>
                        }

                    </div>
                </div>

            }
        </div>
    </div>
</aside>