﻿@model FakirCms.WebUI.Models.PopularHaberModel
@{
    Layout = null;
}


<aside id="tabbed-widget" class="widget widget_tabs">
    <div class="widget-container">
        <div class="tabs-top">
            <ul class="tabs posts-taps">
                <li class="tabs"><a href="#tab1">Popüler</a></li>
                <li class="tabs"><a href="#tab2">Yeni</a></li>
            </ul>
        </div>
        <div class="tabs-content">
            <!-- tab1 start-->
            <div id="tab1" class="tabs-wrap">
                <ul class="list-post">
                    @if (Model.Popular != null && Model.Popular.Count() > 0)
                    {
                        foreach (var haber in Model.Popular)
                        {
                             <li>
                                <article class="item-post post">
                                    <div class="featured-image">
                                        <img alt="@haber.Title" src="@Url.Content(haber.SmallThumbnail)">
                                        </div>
                                        <header class="entry-header">
                                            <h3 class="entry-title">
                                                <a href="@haber.Link" title="@haber.Title">@haber.Title</a>
                                            </h3>
                                        </header>
                                        <div class="entry-meta">
                                            <span class="entry-date">
                                                @String.Format("{0:d MMMM,yyyy}", @haber.Date);

                                            </span>
                                        </div>
</article>
                            </li>
                        }
                    }
                    else
                    {
                        @:Makele bulunamadı
                    }


                </ul>
            </div>
            <!-- tab1 end-->
            <!-- Tab2 Recent posts Start-->
            <div id="tab2" class="tabs-wrap">
                <ul class="list-post">
                    @if (Model.Recent != null && Model.Recent.Count() > 0)
                    {
                        foreach (var haber in Model.Recent)
                        {
                            <li>
                                <article class="item-post post">
                                    <div class="featured-image">
                                        <img alt="@haber.Title" src="@Url.Content(haber.SmallThumbnail)">
                                    </div>
                                    <header class="entry-header">
                                        <h3 class="entry-title">
                                            <a href="@haber.Link" title="@haber.Title">@haber.Title</a>
                                        </h3>
                                    </header>
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            @String.Format("{0:d MMMM,yyyy}", @haber.Date);

                                        </span>
                                    </div>
                                </article>
                            </li>
                        }
                    }
                    else
                    {
                        @:Makele Yok
                    }


                </ul>
            </div>
            <!-- Tab2 Recent posts End-->
        </div>
    </div>
</aside>

