﻿@model FakirCms.WebUI.Areas.Admin.Models.CreateHaberModel
@{
    ViewBag.Title = "Create";
}

@section Css{
    <style type="text/css">
        #code1, #code2 {
            height: 175px;
        }
    </style>
}

@section Scripts{
    <script src="~/Areas/Admin/Scripts/TagBox.js"></script>
    <script src="~/Areas/Admin/Scripts/pages/HaberCreateView.js"></script>
    <script src="~/Areas/Admin/Scripts/ImageBox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/mode-css.js" type="text/javascript" charset="utf-8"></script>
   
<script type="text/javascript">
        $(function () {

            $("#habercreateview").HaberCreateView();
            var editor1 = ace.edit('code1');
            var editor2 = ace.edit('code2');
            editor1.setTheme("ace/theme/twilight");
            editor1.getSession().setMode("ace/mode/javascript");

            editor2.setTheme("ace/theme/twilight");
            editor2.getSession().setMode("ace/mode/css");

            editor1.getSession().setValue("this text will be in the first editor");
            editor2.getSession().setValue("and this in the second");
           
        });
    </script>

}

@section ContentHeader{
    <h1>
        Haber:
        @if (Model.Id > 0)
        {
            <small>Düzenle</small>
        }
        else
        {
            <small>Yeni</small>
        }

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li><a href="@Url.Action("Index","Haber")">Haberler</a></li>
        @if (Model.Id > 0)
        {
            <li class="active">Haber Düzenle</li> }
        else
        {
            <li class="active">Yeni Haber</li>}

    </ol>
}


<div id="TagBoxContainer"></div>
<div id="habercreateview">
    @using (Html.BeginForm("Create", "Haber", FormMethod.Post, new { @class = "role", @id = "AdminForm" }))
    {

        <div id="ShowResultDiv" style="display: block;">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    @TempData["success"]
                </div>
            }

            @if (TempData["error"] != null)
            {
                <div class="alert alert-error">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                    @TempData["error"]
                </div>
            }

            @if (!ViewData.ModelState.IsValid)
            {
                <div class='alert alert-danger alert-dismissable'>
                    <i class='fa fa-ban'></i>
                    <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>×</button>
                    @Html.ValidationSummary()
        </div>
            }
        </div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        <div class="row">
            <div class="col-md-9">
                <!-- Custom Nav Tabs Start-->
                <div class="nav-tabs-custom">
                    <div class="box box-solid">
                        <div class="box-header">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href="#tab_1" data-toggle="tab">Haber Özellikleri</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab">Giriş Metni</a></li>
                                <li class=""><a href="#tab_3" data-toggle="tab">Haber Metni</a></li>
                                <li class=""><a href="#tab_4" data-toggle="tab">Haber Konum</a></li>
                                <li class=""><a href="#tab_5" data-toggle="tab">Meta Bilgisi</a></li>

                                <li class="pull-right">
                                    <a href="javascript:$('#TagBoxContainer').TagBox();" class="btn btn-default">
                                        <span class="glyphicon glyphicon-tags"></span> Etiketler
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--Box Body Start-->
                        <div class="box-body">

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--Tab 1 Start -->
                                <div class="tab-pane active" id="tab_1">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Alias, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Alias, new { @class = "form-control", @placaholder = "Haber başlığından oluşturulacak" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Category, new { @class="control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.DropDownListFor(m => m.Category, Model.CategorySelecList, new { @class="col-md-10"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(x=>x.Date, Model.Date.ToString("dd/MM/yyyy HH:mm", System.Globalization.CultureInfo.InvariantCulture))
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.City)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Town, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(model => model.Town)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">

                                                @Html.ListBoxFor(x => x.Tags, (List<SelectListItem>)ViewBag.TagsSelectListItems, new { @multiple = "multiple", @class = "form-control" })
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button" id="btnTagRefresh" value="Yenile">
                                                        Yenile
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div id="ImageBrowserContainer">
                                                    <div class="input-group">
                                                        @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" id="btnAddImage" type="button">
                                                                Resim Ekle
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <div id="image-preview">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <div id="code1"></div>
                                               
                                                </div>
                                           
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <div class="checkbox">
                                                    <div id="code2"></div>
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.IsActive, "false") Aktif
                                                        @Html.RadioButtonFor(model => model.IsActive, "true") Aktif Değil
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tab 1 End-->
                                <!-- Tab 2 Start-->
                                <div class="tab-pane" id="tab_2">
                                    @Html.TextAreaFor(model => model.IntroText, new { @class = "form-control" })
                                </div>
                                <!-- Tab 2 End-->
                                <!-- Tab 3 Start-->
                                <div class="tab-pane" id="tab_3">
                                    @Html.TextAreaFor(model => model.FullText, new { @class = "form-control" })
                                </div>
                                <!-- Tab 3 End-->
                                <!-- Tab 4 Start-->
                                <div class="tab-pane" id="tab_4">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SpotBigTittle, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.SpotBigTittle, new { @class="form-control"})
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.SpotSmallTitle, new { @class="control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.SpotSmallTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ShowFrontPageUst, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(m => m.ShowFrontPageUst)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ShowFrontPageMain, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(m => m.ShowFrontPageMain)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ShowFrontPageAlt, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(m => m.ShowFrontPageAlt)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ShowCategoryManset, new { @class="control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(m => m.ShowCategoryManset)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ShowManset, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.CheckBoxFor(m => m.ShowManset)
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--Tab 4 End-->
                                <!-- Tab 5 Start -->
                                <div class="tab-pane" id="tab_5">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaTitle, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.MetaTitle, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaDescription, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(m => m.MetaDescription, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MetaKeywords, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control", @data_role = "tagsinput" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Tab 5 End-->
                            </div>
                            <!-- Tab panes  End-->
                        </div>
                        <!-- Box Body End-->
                        <!--Box Footer Start-->
                        <div class="box-footer">
                            <div class="form-group">

                                <input type="submit" value="Kaydet" class="btn btn-default" />
                                @Html.ActionLink("İptal", "Index")

                            </div>
                        </div>
                        <!-- Box Footer End-->
                    </div>
                    <!--Box Body End-->
                </div>
                <!-- Custom Nav Tabs End-->
            </div>
            <div class="col-md-3">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title">Haber Bilgisi</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div><!-- /.box-tools -->
                    </div>
                    <div class="box-body" style="font-size:13px">
                        <div class="row">
                            @Html.Label("Kayıt Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Created.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Oluşturan:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.CreatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncellenme Tarihi:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Updated.ToString(string.Format("d MMMM yyyy hh:mm"))
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Güncelleyen:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.UpdatedByName
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("İzlenim:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Hits
                            </div>
                        </div>
                        <div class="row">
                            @Html.Label("Kimlik:", new { @class = "col-md-6" })
                            <div class="col-md-6">
                                @Model.Id
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
