﻿@model FakirCms.WebUI.Models.HaberDetailView
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = string.IsNullOrEmpty(Model.Haber.Title) ? Model.Haber.Title : Model.Haber.MetaTitle;
    var description = string.IsNullOrEmpty(Model.Haber.MetaDescription) ? Model.Haber.IntroText : Model.Haber.MetaDescription;
    var keywords = Model.Haber.MetaKeywords;
    var image = baseUrl + Url.Content(Model.Haber.Image);
    var facebookType = "article";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />
    <meta http-equiv="last-modified" content="@Model.Haber.Updated.ToUniversalTime()" />
    <meta http-equiv="expires" content="@Model.Haber.Updated.ToUniversalTime()" />
    <!--socail meta tags-->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:type" content="@facebookType" />
    <meta property="og:image" content="@image" />
    <meta property="og:site_name" content="Demo Haber Sitesi" />
    <meta property="og:url" content="@Request.Url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
    <meta name="twitter:image" content="@image">
}

<div class="newsDetail">
    @*<!-- BreadCrumb Start -->
        <div  class="detailBreadCrumb ">
            <span class="clear" style="margin-left:0;">
                <a href="http://www.hurriyet.com.tr/" rel="v:url" property="v:title">Haberler</a><span>&gt;</span>
                <span typeof="v:Breadcrumb">
                    <a href="http://www.hurriyet.com.tr/ekonomi/" rel="v:url" property="v:title">Ekonomi</a><span>&gt;</span>
                </span>

                <span>Otopark eyleminde kan aktı</span>

            </span>
        </div>
        <!-- BreadCrumb End -->*@



    <div class="detailTop">
        <h1 class="title" style="    color: #454545;
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 4px;
    text-shadow: 1px 1px 1px #fff;
    line-height:120%">
            @Model.Haber.Title
    </h1>
        <div style=" color:#000; margin-top:5px; margin-left:3px; font-size:17px; line-height:25px;">
            @Model.Haber.IntroText
        </div>

        <div class="divider" style="  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;"></div>

        <div class="newsInfo" style=" float: left; width: 100%; font-size: 13px;">
            <div class="socialbuttons" style=" float: left; font-size: 13px;">
                <div class="social-likes" data-counters="yes" data-url="@Request.Url" data-title="@ViewBag.Title">
                    <div class="facebook" title="Facebook'ta paylaş'">Facebook</div>
                    <div class="twitter" title="Twitter'da paylaş'">Twitter</div>
                    <div class="plusone" title="Google+'da paylaş">Google+</div>
                </div>
            </div>
            <div class="newsDate" style=" float: right; font-size: 13px;">@Model.Haber.Date.ToString("d MMMM yyyy")</div>
        </div>
        <div class="divider" style="  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;"></div>
    </div>
    <div class="detailContent">
        <div class="detailImage">
            <img src="@Model.Haber.Image" alt="@Model.Haber.Title" align="left">
        </div>
        <div class="divider"></div>
        <div class="newsInfo">
            <div class="newsCity">
                <a href="@Model.Haber.City.Link">@Model.Haber.City.CityName</a>
                @if (!string.IsNullOrEmpty(Model.Haber.Town.Name))
                {
                    <span> - </span><a href="@Model.Haber.Town.Link">@Model.Haber.Town.Name</a>
                }

            </div>
            <div class="newsDate">@Model.Haber.Date.ToString("d MMMM yyyy")</div>
        </div>

        <div class="divider"></div>
        <div class="detailText">
            <div class="ctx_content">
                <!-- C-ON-TEXT_CONTENT_START -->
                @Html.Raw(Model.Haber.FullHtmlText)
                <!-- C-ON-TEXT_CONTENT_END -->
            </div>
        </div>


        @if (Model.Haber.Tags != null && Model.Haber.Tags.Count() > 0)
        {
            <div class="detailTags">
                <div class="tagsContainer">
                    <span class="tagsTitle">Etiketler: </span>
                    @{
            List<string> tagAnchorList = new List<string>();
            Model.Haber.Tags.ForEach(tag =>
            {
                string atext = "<a class='singleTag' target='_blank' href='" + tag.HaberLink + "'>" + tag.Name + "</a>";
                tagAnchorList.Add(atext);
            });
            string tags = string.Join(",", tagAnchorList);
                    }
                    @Html.Raw(tags)
                </div>
            </div>
        }
        <div class="detailPN">

            <ul>
                <li>
                    @if (Model.PrevHaber != null)
                    {
                        <a class="once" href="@Model.PrevHaber.Link">« önceki haber</a>
                    }
                    else
                    {
                        <a class="once" href="#" disabled="disabled"><< önceki haber</a>
                    }

                </li>
                <li>
                    @if (Model.NextHaber != null)
                    {
                        <a href="@Model.NextHaber.Link">sonraki haber »</a>
                    }
                    else
                    {
                        <a href="#" disabled="disabled">sonraki haber »</a>
                    }

                </li>
            </ul>

        </div>
        @if (Model.RelatedHabers.Count() > 0)
        {
        <!-- Related News -->
            <div id="relatedNews">
                <div class="row">
                    @{int blockNumber = (int)Math.Ceiling((decimal)Model.RelatedHabers.Count() / 2);}
                    @for (int i = 0; i < blockNumber; i++)
                    {
                        List<FakirCms.Domain.Models.HaberDetail> list = Model.RelatedHabers.Skip(i * 2).Take(2).ToList();
                        if (list != null && list.Count > 0)
                        {
                            for (int x = 0; x < 2; x++)
                            {
                                if (list.Count > x)
                                {
                                    @*Kucuk Resim ve başlık ekler *@
                                    var post = list.ElementAt(x);
                                    <div class="six column">
                                        <article class="item-post post">


                                            <img alt="@post.Title" src="@Url.Content(post.SmallThumbnail)">
                                            <header class="entry-header">
                                                <h3 class="entry-title">
                                                    <a href="@post.Link">@post.Title</a>
                                                </h3>
                                            </header>
                                            <div class="entry-meta">
                                                <span class="entry-date">
                                                    <a href="#">
                                                        @post.Date.ToString("d MMMM")
                                                    </a>
                                                </span>
                                                <span class="comments-link">
                                                    <a href="@post.City.Link">@post.City.CityName</a>
                                                    @if (!string.IsNullOrEmpty(post.Town.Name))
                                                    {
                                                        <span> - </span><a href="@post.Town.Link">@post.Town.Name</a>
                                                    }
                                                </span>
                                            </div>

                                        </article>
                                    </div>
                                }
                                else
                                {
                                    break;
                                }

                            }

                            <div class="clearfix"></div>
                        }
                        else
                        {
                            break;
                        }
                    }
                </div>
            </div>
        <!-- Related News -->
        }
    </div>
</div>

