﻿@model FakirCms.WebUI.Models.HaberCategoryView
@using PagedList.Mvc;
@using PagedList;
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = Model.Category.Title;
    var description = Model.Category.Description;
    var keywords = Model.Category.Tags;
    
    var facebookType = "article";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />
   
    <!--socail meta tags-->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:type" content="@facebookType" />
    <meta property="og:site_name" content="Demo Haber Sitesi" />
    <meta property="og:url" content="@Request.Url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
}

<div class="ic-sayfalar-baslik">
    <h1> @Model.Category.Title</h1>
</div>

@if (Model.Haberler.Count() > 0)
{
    foreach (var post in Model.Haberler)
    {

        <div class="haber-cerceve">
            <div class="kutu-haberler">
                <a href="@post.Link" title="@post.Title" target="_blank">
                    <img src="@Url.Content(post.MediumThumbnail)" width="186" height="96" alt="@post.Title">
                </a>
                <div class="baslik"><a href="@post.Link" title="@post.Title" target="_blank">@post.Title</a></div>
                <div class="ozet"><a href="@post.Link" title="@post.Title" target="_blank">@post.IntroText</a></div>

            </div>
        </div>
        <div class="clearfix"></div>
    }
}
else
{
    @:"Haber Yok"
   }



@Html.PagedListPager((IPagedList)ViewBag.OnePageOfHabers, page => Url.RouteUrl("HaberList", new { page = page }), new PagedListRenderOptions
{
    PageCountAndCurrentLocationFormat = "Sayfa {0}/{1}",
    
    DisplayPageCountAndCurrentLocation = true,
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5
})

