﻿@model List<FakirCms.Domain.Models.HaberDetail>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = ViewBag.Name+" haberleri";
}


<div class="ic-sayfalar-baslik">
    <h1> @ViewBag.Name Haberleri</h1>
</div>

@if (Model.Count>0)
{
    foreach (var haber in Model)
    {

        <div class="haber-cerceve">
            <div class="kutu-haberler">
                <a href="@haber.Link" title="@haber.Title" target="_blank">
                    <img src="@Url.Content(haber.MediumThumbnail)" width="186" height="96" alt="@haber.Title">
                </a>
                <div class="baslik"><a href="@haber.Link" title="@haber.Title" target="_blank">@haber.Title</a></div>
                <div class="ozet"><a href="@haber.Link" title="@haber.Title" target="_blank">@haber.IntroText</a></div>
                <div class="katicon-kutu">
                    <ul>
                        <li class="active"><a href="@haber.Cateogory.Link" title="@haber.Cateogory.Name" target="_blank">@haber.Cateogory.Name</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    }
}
else
{
    @:"Haber Yok"
   }



@Html.PagedListPager((IPagedList)ViewBag.OnePageOfHabers, page => Url.RouteUrl("HaberTag", new { tagalias = ((string)ViewBag.Alias), currentpage = page }), new PagedListRenderOptions
{
    PageCountAndCurrentLocationFormat = "Sayfa {0}/{1}",

    DisplayPageCountAndCurrentLocation = true,
    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
    DisplayLinkToLastPage = PagedListDisplayMode.Never,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5
})

