﻿@model FakirCms.WebUI.Models.ArtilceDetailModel
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = Model.Article.Title;
    var description = Model.Article.MetaDescription;
    var keywords = Model.Article.MetaKeywords;

    var facebookType = "article";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />

    <!--socail meta tags-->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:type" content="@facebookType" />
    <meta property="og:site_name" content="Demo Haber Sitesi" />
    <meta property="og:url" content="@Request.Url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
}

<div class="yazarBox">
    <a href="">
        <img width="65" src="@Model.Author.Image">
    </a>
    <div class="right">
        <a href="" class="yadi">@Model.Author.Name</a>
        <a href="mailto:@Model.Author.Email" style="margin: 5px 0 0 5px;">@Model.Author.Email</a>
    </div>
</div>

<div class="newsDetail">
    @*<!-- BreadCrumb Start -->
        <div  class="detailBreadCrumb ">
            <span class="clear" style="margin-left:0;">
                <a href="http://www.hurriyet.com.tr/" rel="v:url" property="v:title">Haberler</a><span>&gt;</span>
                <span typeof="v:Breadcrumb">
                    <a href="http://www.hurriyet.com.tr/ekonomi/" rel="v:url" property="v:title">Ekonomi</a><span>&gt;</span>
                </span>

                <span>Otopark eyleminde kan aktı</span>

            </span>
        </div>
        <!-- BreadCrumb End -->*@



    <div class="detailTop">
        <h1 class="title" style="    color: #454545;
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 4px;
    text-shadow: 1px 1px 1px #fff;
    line-height:120%">
            @Model.Article.Title
        </h1>

        <div class="divider" style="  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;"></div>

        <div class="newsInfo" style=" float: left; width: 100%; font-size: 13px;">
            <div class="socialbuttons" style=" float: left; font-size: 13px;">
                <div class="social-likes" data-counters="yes" data-url="@Request.Url" data-title="@ViewBag.Title">
                    <div class="facebook" title="Facebook'ta paylaş'">Facebook</div>
                    <div class="twitter" title="Twitter'da paylaş'">Twitter</div>
                    <div class="plusone" title="Google+'da paylaş">Google+</div>
                </div>
            </div>
            <div class="newsDate" style=" float: right; font-size: 13px;">@Model.Article.Date.ToString("d MMMM yyyy")</div>
        </div>
        <div class="divider" style="  width: 100%;
  border-bottom: 1px solid #ebebeb;
  margin-top: 10px;
  margin-bottom: 5px;
  float: left;"></div>
    </div>
    <div class="detailContent">
        <div class="detailText">
            <div class="ctx_content">
                <!-- C-ON-TEXT_CONTENT_START -->
                @Html.Raw(Model.Article.Content)
                <!-- C-ON-TEXT_CONTENT_END -->
            </div>
        </div>
    </div>
</div>