﻿@model FakirCms.WebUI.Models.ArticleIndexModel
@using PagedList.Mvc;
@using PagedList;
@{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}", request.Url.Scheme, request.Url.Authority);

    var title = Model.Author.Name;
    var description = Model.Author.MetaDescription;
    var keywords = Model.Author.MetaKeywords;

    var facebookType = "article";

    ViewBag.Title = title;
}

@section Meta{
    <meta name="description" content="@description" />
    <meta name="keywords" content="@keywords" />

    <!--socail meta tags-->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:type" content="@facebookType" />
    <meta property="og:site_name" content="Demo Haber Sitesi" />
    <meta property="og:url" content="@Request.Url" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
}

<div class="yazarBox"><a href="">
    <img width="65" src="@Model.Author.Image"></a>
    <div class="right"><a href="" class="yadi">@Model.Author.Name</a>
    <a href="mailto:@Model.Author.Email" style="margin: 5px 0 0 5px;">@Model.Author.Email</a>
    <span>
        @Model.Author.Description
    </span>
    </div>
   </div>

<div class="ic-sayfalar-baslik">
    <h1>@Model.Author.Name Yazıları</h1>
</div>
<div class="buyuk-cerceve">
    @if (Model.Articles.Count() > 0)
    {
        <ul class="yazilar">
            @foreach (var article in Model.Articles)
            {
                <li>
                    <a href="@article.Link" title="@article.Title">
                        @article.Title
                    </a>
                    <div class="clear"></div>
                </li>

            }
        </ul>
    }
    </div>







